:root {
    --morado-principal: #594D9B;
    --morado-claro: #594D9B;
    --beige-oscuro: #fff0ad;
    --beige-fondo: #F4F1EA;
    --blanco: #FFFFFF;
    --verde-acento: #1a9938;
    --gris-oscuro: #594D9B;
}